<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit:<%= foundData.name %></title>
  </head>
  <body>
    <h1>Name : <%= foundData.name %></h1>
    <form action="/campgrounds/<%=foundData.id%>?_method=PATCH " method="post">
      <label for="location">New location</label>
      <input
        type="text"
        name="location"
        id="location"
        value="<%= foundData.location %> "
      />
      <button>Submit</button>
    </form>
    <a href="/campgrounds">Home</a>
  </body>
  <script></script>
</html>
