<% layout("layout/boilerplate") %>

<h1>All Campgrounds</h1>
<div>
  <a href="/campgrounds/new">Add Campground</a>
</div>
<ul>
  <% for (let data of foundData){%>
  <li>
    <a href="/campgrounds/<%= data._id %>/details"><%= data.name %></a>
  </li>
  <% }%>
</ul>
