<% layout("layout/boilerplate") %>

<h1>New campground</h1>
<form action="/campgrounds" method="post">
  <label for="name">The new location name</label>
  <input type="text" name="name" id="name" />
  <label for="location">The location</label>
  <input type="text" name="location" id="location" />
  <button type="submit">Submit</button>
</form>
<a href="/campgrounds">Home</a>
